<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Store</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Lirycs</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/game">Play a Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboards">Leaderboards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>Store</h1>
      <h3>What do you want to do?</h3>
      <div class="row">
        <div class="col-sm">
          <% if (currentUser.credits < 100) { %>
            <a class="btn btn-primary disabled" href="/store/buy-dad-joke">Buy a Dad Joke</a>
          <% } else { %>
            <a class="btn btn-primary" href="/store/buy-dad-joke">Buy a Dad Joke</a>
          <% } %>
          <small>100 credits</small>
        </div>
        <div class="col-sm">
          <a class="btn btn-primary" href="/store/gamble">Gamble!</a>
        </div>
        <div class="col-sm">
          <a class="btn btn-primary" href="/store/send-to-friend">Send to Friend</a>
        </div>
      </div>
      <p class="text-center mt-5">
        <strong>You have <%= currentUser.credits %> credits.</strong>
      </p>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".fixed-top");
        $nav.toggleClass('scrolled navbar-light', $(this).scrollTop() > $nav.height());
        $nav.toggleClass('navbar-dark', $(this).scrollTop() < $nav.height())
      });
    });
  </script>
</html>
