<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Store</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Lirycs</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/game">Play a Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboards">Leaderboards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="text-center">Store</h1>
      <div class="row mt-5">
        <div class="col-sm">
          <div class="dashboard-card card">
            <h3>Buy a Dad Joke</h3>
            <p>
              We have gathered thousands and thousands of Dad Jokes that you can buy with only 100 credits. They guaranteed to make you laugh! Remember, once you buy it, you can keep it forever in you dashboard.
            </p>
            <% if (currentUser.credits < 100) { %>
              <a class="primary-cta-button disabled" href="/store/buy-dad-joke">Buy a Dad Joke</a>
            <% } else { %>
              <a style="align-self: flex-start;" class="primary-cta-button" href="/store/buy-dad-joke">Buy a Dad Joke</a>
            <% } %>
            <small>100 credits</small>
          </div>
        </div>
        <div class="col-sm">
          <div class="dashboard-card card">
            <h3>Gamble!</h3>
            <p>
              Want to earn credits quick? Gambling is for you. You can either win double, triple, or quadruple your money in the matter of minutes, or lose it all. Play at your own risk!
            </p>
            <a style="align-self: flex-start;" class="primary-cta-button" href="/store/gamble">Gamble!</a>
          </div>
        </div>
        <div class="col-sm">
          <div class="dashboard-card card">
            <h3>Send to Friend</h3>
            <p>
              Feeling generous! Send it to a friend! All you need is their username and enough credits, and you can transfer as many credits you want!
            </p>
            <a style="align-self: flex-start;" class="primary-cta-button" href="/store/send-to-friend">Send to Friend</a>
          </div>
        </div>
      </div>
      <p class="text-center mt-5">
        <strong>You have <%= currentUser.credits %> credits.</strong>
      </p>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".fixed-top");
        $nav.toggleClass('scrolled navbar-light', $(this).scrollTop() > $nav.height());
        $nav.toggleClass('navbar-dark', $(this).scrollTop() < $nav.height())
      });
    });
  </script>
</html>
