* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ff6f59 !important;
  padding: 75px 0; }

body * {
  color: white; }

h1 {
  font-size: 55px !important; }

.primary-cta-button {
  border: none;
  background-image: linear-gradient(to right, #ff6f59, #ff4e33);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 4px;
  transition: all .2s;
  color: white !important; }

.primary-cta-button:hover {
  text-decoration: none; }

.ghost-cta-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 18px;
  transition: all .2s;
  color: white; }

.ghost-cta-button:hover {
  background-color: white;
  text-decoration: none;
  color: black !important; }

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px; }

.contact-input {
  display: block;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100%;
  transition: all .2s; }

.contact-input::placeholder {
  color: white; }

.contact-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3); }

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px; }

.contact-input {
  display: block;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100%;
  transition: all .2s; }

.contact-input::placeholder {
  color: white; }

.contact-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3); }

.dashboard-card {
  padding: 20px; }

.dashboard-card * {
  color: black; }

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px; }

.game * {
  color: black; }

.game {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); }

.list-group * {
  color: black !important; }

.list-group-item {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr); }

.score {
  text-align: right; }
