<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Play a Game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Lirycs</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/game">Play a Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboards">Leaderboards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <p><%= currentUser.credits %></p>
    <h1>Guess the Song</h1>
    <p><%= lyric %></p>
    <p><%= correctSong %></p>

    <% for (song of songTitles) { %>
      <label><input type="radio" name="song" value="<%= song %>"> <%= song %></label>
    <% } %>
    <button type="submit" onclick="validateAnswer()">Submit</button>
    <p class="correct-answer"><strong>Correct Answer:</strong> <%= correctSong %></p>
    <button class="next-question" onclick="window.location.reload()">Next Question</button>
  </body>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
    window.onload = function() {
      document.querySelector(".correct-answer").style.display = "none";
      document.querySelector(".next-question").style.display = "none";
    }

    function validateAnswer() {
      const answer = $("input[name='song']:checked").val();
      var randomCreditNumber = undefined;
      var operation = undefined;
      if (answer == "<%= correctSong %>") {
        randomCreditNumber = Math.floor(Math.random() * 20) + 1;
        operation = "add";
        alertify.success(`Correct! You won ${randomCreditNumber} credits!`);
      }
      else {
        randomCreditNumber = Math.floor(Math.random() * 5) + 1;
        operation = "subtract";
        alertify.error(`Incorrect. You lost ${randomCreditNumber} credits.`)
        document.querySelector(".correct-answer").style.display = "block";
      }
      document.querySelector(".next-question").style.display = "block";

      fetch(`/game/guess-the-song/?credits=${randomCreditNumber}&operation=${operation}`, {
          method: "POST"
      });
    }

    $(function () {
      $(document).scroll(function () {
        var $nav = $(".fixed-top");
        $nav.toggleClass('scrolled navbar-light', $(this).scrollTop() > $nav.height());
        $nav.toggleClass('navbar-dark', $(this).scrollTop() < $nav.height())
      });
    });
  </script>
</html>
