<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Play a Game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Lirycs</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/game">Play a Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboards">Leaderboards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>Guess the Lyric</h1>
    <p><%= song %></p>
    <p><%= correctLyric %></p>

    <p><%= songLyrics %></p>

    <% for (lyric of songLyrics) { %>
      <label><input type="radio" name="lyric" value="<%= lyric %>"> <%= lyric %></label>
    <% } %>
    <button type="submit" onclick="validateAnswer()">Submit</button>
    <p class="correct-answer"><strong>Correct Answer:</strong> <%= correctLyric %></p>
    <button class="next-question" onclick="window.location.reload()">Next Question</button>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <script>
    window.onload = function() {
      document.querySelector(".correct-answer").style.display = "none";
      document.querySelector(".next-question").style.display = "none";
    }

    function validateAnswer() {
      const answer = $("input[name='song']:checked").val();
      if (answer == "<%= correctLyric %>") {
        alertify.success("Correct!");
      }
      else {
        alertify.error("Incorrect.")
        document.querySelector(".correct-answer").style.display = "block";
      }
      document.querySelector(".next-question").style.display = "block";
    }

    $(function () {
      $(document).scroll(function () {
        var $nav = $(".fixed-top");
        $nav.toggleClass('scrolled navbar-light', $(this).scrollTop() > $nav.height());
        $nav.toggleClass('navbar-dark', $(this).scrollTop() < $nav.height())
      });
    });
  </script>
</html>
