$color-light: rgb(255, 111, 89);
$color-dark: rgb(255, 78, 51);
$color-darkest: rgb(255, 59, 28);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-light !important;
  padding: 75px 0;
}

body * {
  color: white;
}

h1 {
  font-size: 55px;
}

.primary-cta-button {
  border: none;
  background-image: linear-gradient(to right, $color-light, $color-dark);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 4px;
  transition: all .2s;
  color: white !important;
}

.primary-cta-button:hover {
  text-decoration: none;
}

.ghost-cta-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 18px;
  transition: all .2s;
  color: white;
}

.ghost-cta-button:hover {
  background-color: white;
  text-decoration: none;
  color: black !important;
}
