<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gamble</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Lirycs</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/game">Play a Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboards">Leaderboards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="text-center">Gamble</h1>
      <p class="text-center">Remember! Your rate of success is lower as you gamble higher!</p>
      <div class="row mt-5">
        <div class="col-sm">
          <div class="dashboard-card card">
            <h3>For the Broke</h3>
            <p>Max Reward: 20 credits</p>
            <button style="align-self: flex-start;" class="primary-cta-button" onclick="gamble(10, 20)">Pay 10 credits</button>
          </div>
        </div>
        <div class="col-sm">
          <div class="dashboard-card card">
            <h3>Pay up!</h3>
            <p>Max Reward: 150 credits</p>
            <button style="align-self: flex-start;" class="primary-cta-button" onclick="gamble(50, 150)">Pay 50 credits</button>
          </div>
        </div>
        <div class="col-sm">
          <div class="dashboard-card card">
            <h3>I see you...</h3>
            <p>Max Reward: 300 credits</p>
            <button style="align-self: flex-start;" class="primary-cta-button" onclick="gamble(100, 300)">Pay 100 credits</button>
          </div>
        </div>
        <div class="col-sm">
          <div class="dashboard-card card">
            <h3>We in Vegas!</h3>
            <p>Max Reward: 2000 credits</p>
            <button style="align-self: flex-start;" class="primary-cta-button" onclick="gamble(500, 2000)">Pay 500 credits</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <script>
    function setButtonAttributes(creditsLeft) {
      // Disabling any buttons that are too expensive
      var allGambleButtons = document.querySelectorAll("button");
      // allGambleButtons = allGambleButtons.splice(0, 1);
      allGambleButtons = [].slice.call(allGambleButtons);
      allGambleButtons.shift();

      for (gambleButton of allGambleButtons) {
        var gambleButtonCost = parseInt(gambleButton.innerHTML.split(" ")[1]);

        if (creditsLeft < gambleButtonCost) {
          gambleButton.setAttribute("disabled", true);
          gambleButton.setAttribute("onclick", null);
        }
        else {
          gambleButton.removeAttribute("disabled");

          switch (gambleButtonCost) {
            case 10:
              gambleButton.setAttribute("onclick", "gamble(10, 20)");
              break;
            case 50:
              gambleButton.setAttribute("onclick", "gamble(50, 150)");
              break;
            case 100:
              gambleButton.setAttribute("onclick", "gamble(100, 300)");
              break;
            case 500:
              gambleButton.setAttribute("onclick", "gamble(500, 2000)");
              break;
          }
        }
      }
    }

    function gamble(creditAmount, potentialReward) {
      fetch(`/store/gamble/?creditAmount=${creditAmount}`, {
        method: "POST"
      }).then((response) => {
        return response.json()
      }).then((jsonData) => {
        const result = jsonData.result;
        const creditsLeft = jsonData.creditsLeft;

        if (result) {
          alertify.success(`Congratulations! You won ${potentialReward} credits! You have ${creditsLeft} credits remaining.`);
        }
        else {
          alertify.error(`Whoops! You lost ${creditAmount} credits. You have ${creditsLeft} credits remaining.`)
        }

        setButtonAttributes(creditsLeft);
      });
    }

    setButtonAttributes(<%= currentUser.credits %>);

    $(function () {
      $(document).scroll(function () {
        var $nav = $(".fixed-top");
        $nav.toggleClass('scrolled navbar-light', $(this).scrollTop() > $nav.height());
        $nav.toggleClass('navbar-dark', $(this).scrollTop() < $nav.height())
      });
    });
  </script>
</html>
